{% extends 'admin/change_form.html' %} {% block extrastyle %} {{ block.super }}
<style>
  .btn-red {
    background-color: #a41515 !important;
  }
  .btn-green {
    background-color: #27ae60 !important;
  }
</style>
{% endblock %} {% block submit_buttons_bottom %} {{ block.super }}
    {% if original.status == 'waiting_for_approval' %}
        <div class="submit-row">
          <input type="submit" value="Aprovar" name="_approve" class="btn-green" />
          <input type="submit" value="Negar" name="_negate" class="btn-red" />
        </div>
    {% endif %}
{% endblock %}
